{% if page.id %}
	{% assign d = page.date | date: "%-d" %}
	{% assign m = page.date | date: "%B" %}
	{% assign y = page.date | date: "%Y" %}
{% else %}
	{% assign d = post.date | date: "%-d" %}
	{% assign m = post.date | date: "%B" %}
	{% assign y = post.date | date: "%Y" %}
{% endif %}

<li class="date">
	<strong>on</strong>
	<span class="month">
	{% case m %}
		{% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
		{% when 'September' %}Sept.
		{% else %}{{ post.date | date: "%b" }}.
		{% endcase %}
	</span>
	<span class="day">{{ d }}<span>
	<span class="year">{{ post.date | date: "%Y" }}</span>
</li>

