--- 
layout: blog 
---

<div id="inner-content">
    <div class="post">
        <div class="post-content">

	        {% if page.imagePath %}
		        <div class="post-media">
		              <img src="{{ page.imagePath }}" />
		        </div>
	        {% endif %}
	        <!--END POST-MEDIA-->

	        <div class="post-date">
	            <ul>
	               	{% include post/date.html %}
	            	{% include post/comments_link.html %}
	            </ul>
	        </div>
	        <!--END POST-DATE-->

	        <div class="post-title">
	            <h2 class="title">{{ page.title }}</h2>
	        </div>
	        <!--END POST-TITLE-->



	        <div class="post-meta">             
                <ul>
                    <li class="author">
                        <span>Posted by
                        {%  if author %}
                            {%  if author_link %}
                                <a href="{{ author_link }}" target="_blank">{{ author }}</a>
                            {%  else %}
                                {{ author }} 
                            {%  endif %}
                        {%  else %}
                            Staff 
                        {%  endif %}
                        </span>
                    </li>
                   
                    <li>
                    	<span>in 
	                    	{% for category in page.categories %}
	                    		<a href="/categories#{{ category }}">{{ category }}</a> ,
	                    	{% endfor %}
                    	</span>
                    </li>
                </ul>
            </div> 
	        <!--END POST-META-->

            {{ content | excerpt }}

        </div>
        <!--END POST-CONTENT -->

    </div>
    <!--END POST-->



    <div class="post">

        <div class="share text-align-center">

            <ul>

                <li class="twitter">
                    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
                </li>

                <li class="facebook">
                    <div id="fb-root"></div>
                    <script>
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) {
                            return;
                        }
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
                </li>

                <li class="google">
                    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                    <g:plusone size="medium"></g:plusone>
                </li>

                <li class="addthis">
                    <div class="addthis_toolbox addthis_default_style">
                        <a class="addthis_counter addthis_pill_style"></a>
                    </div>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51a5e49423902f7e"></script>
                </li>

            </ul>
            <!--END UL-->

        </div>
        <!--END SHARE-->

    </div>
    <!--END POST-->

    <div class="post">

        <div class="post-content">

            <div class="post-nav">

                <ul>
                	{% if page.previous.url %}
	                    <li class="prev">
	                        <small>&larr; Previous article</small>
	                        <h3 class="title"><a href="{{page.previous.url}}">{{page.previous.title}}</a>
	                        </h3>
	                        <small class="date">
	                        	{{ page.previous.date | date: "%-d %B %Y" }}
	                        </small>
	                    </li>
                    {% endif %}
					
					{% if page.next.url %}
	                    <li class="next">
	                        <small>Next article &rarr;</small>
	                        <h3 class="title"><a href="{{page.next.url}}">{{page.next.title}}</a>
	                        </h3>
	                        <small class="date">
	                        	{{ page.next.date | date: "%-d %B %Y" }}
	                        </small>
	                    </li>
                    {% endif %}

                </ul>
                <!--END UL-->

            </div>
            <!--END POST-NAV-->

        </div>
        <!--END POST-CONTENT -->

    </div>
    <!--END POST-->



    <div class="post">
        {% if site.disqus_short_name and page.comments == true %}
	        <div id="disqus_thread" class="container" aria-live="polite">{% include post/disqus_thread.html %}</div>
	    {% endif %}
    </div>
    <!--END POST-->

</div>
<!--END INNER-CONTENT-->



<div id="sidebar">

    <div class="widget">
        {% include post/related_posts.html %}
    </div>
    <!--END WIDGET-->

    <div class="widget">
        {% include post/recent_posts.html %}
    </div>
    <!--END WIDGET-->

    <div class="widget">

        <h3 class="title">Categories</h3>

        <ul class="bra_categories">
            {% for category in page.categories %}
                <li>
                    <a href="/categories#{{ category }}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>
        <!--END UL-->

    </div>
    <!--END WIDGET-->



    <div class="widget tagcloud">

        <h3 class="title">Tagcloud</h3>

        {% for tag in page.tags %}
          <a data-event-label="{{ tag }}" 
            data-event-category="Tag" 
            href="/tag#{{ tag }}" title="">{{ tag }}</a>
        {% endfor %}

    </div>
    <!--END WIDGET-->

</div>
<!--END SIDEBAR-->
